# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

test-twit.js

/redux-twitter-stream-demo
/test-mapbox

/src/config.json
/test-gtfs-node

/src/shape.json
/src/shapesco.json

/test-xml-parser
